html, body, #basicMap {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
}

#status, #actions {
	position: absolute;
	width: 100%;
	background: url('../data/bar_bg.png');
	color: white;
	z-index: 1;
	font-family: "Times New Roman", Times, serif;
	font-size: medium;
}

#actions {
	bottom: 0px;
}

div.olControlZoom {
	top: 25px !important;
}
